---
import { themeConfig } from '~/.config'

const { title, subtitle } = themeConfig.site
---

<hgroup
  lg="items-start b-l-2px b-l-primary text-left"
  flex="~ col gap-2.5"
  class="cursor-pointer text-center duration-800 ease-in-out"
>
  <a
    class="not-underline-hover duration-800 ease-in-out"
    lg:p="y-2.5 x-6 hover:(x-8)"
    hover:lg=" bg-primary color-background"
    href="/"
  >
    <h3 class="text-5 font-extrabold font-header">{subtitle}</h3>
    <h1 class="text-8 font-extrabold font-header">{title}</h1>
  </a>
</hgroup>
